<div class="profile">
  <img class="portrait" [src]="actor.img" [class.controlled]="isControlled()" />
  <span class="name">{{ actor.name }}</span>
  <span class="level" *ngFor="let class of classes">{{ class.name }} {{ class.levels }}</span>
</div>
<div class="details">
  <div class="attributes" *ngIf="actor.system.attributes as atts">
    <span class="attribute armour">
      AC: {{ atts.ac.flat }}
      {{ atts.ac.calc }}
    </span>
    <span class="attribute health"
      >HP: {{ atts.hp.value }} <small>+ {{ atts.hp.temp }}</small> / {{ atts.hp.max }}
    </span>
    <span class="attribute perception">PP: {{ actor.system.skills.perception.bonuses.passive }}</span>
    <span class="attribute initiative" [title]="atts.init.value + '+' + atts.init.bonus"
      >IN: {{ atts.init.value }} + {{ atts.init.bonus }}</span
    >
  </div>
  <div class="abilities" *ngIf="actor.system.abilities as abl">
    <span class="ability str">STR{{ abl.str.value }}</span>
    <span class="ability dex">DEX{{ abl.dex.value }} </span>
    <span class="ability con">CON{{ abl.con.value }} </span>
    <span class="ability int">INT{{ abl.int.value }} </span>
    <span class="ability wis">WIS{{ abl.wis.value }} </span>
    <span class="ability cha">CHA{{ abl.cha.value }}</span>
  </div>
  <!-- <div class="action" *ngFor="let action of wrapper.actions | async">
    <div class="action-button" *ngFor="let button of action.buttons"><img [src]="button.icon" width="15" /> {{ button.title }}</div>
  </div> -->
  <!-- <ng-container *ngFor="let action of actor.system.actions; index as idx"> -->
  <ng-container *ngIf="actions[activeActionIndex] as action">
    <div class="action">
      <!-- <span class="action-item-name">{{ action.item.name }}</span> -->
      <div class="action-icon-list">
        <ng-container *ngFor="let item of actor.items; index as idx"> </ng-container>
        <ng-container *ngFor="let ao of actions; index as idx">
          <img [class.selected]="idx == activeActionIndex" [title]="ao.description" class="action-icon" [src]="ao.img" />
        </ng-container>
      </div>
      <span class="action-strikes">
        <label class="action-label selected">
          {{ action.description.value }}
        </label>
        <span class="strike" (click)="action.rollAttack()" [class.current]="true">{{ action?.actionType }}</span>
      </span>
      <div class="action-alt-uses" *ngIf="action.isVersatile">
        <div class="alt-action-use">
          <div class="action-strikes">
            <span class="strike" (click)="attackVersatile(action)">Versatile</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
